* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ***** variables ***** */
:root {
  --header-height: 3rem;
  --nav-spacing: 1rem;

  /* font and font size */
  --main-font: "Avenir", "arial" monospace;
  --title-font: "Arial Black", Gadget, sans-serif;
  --font-size-large: 5rem;
  --font-size-medium: 2rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.875rem;
  --font-size-1--2: 1.2rem;

  /* colors */
  --color-background: #0f0e17;
  --color-text: #a7a9be;
  --color-heading: #6b6d91;
  --color-accent: #00d4ff;
  --color-btn: #33304b;
  --color-btn-text: #00d4ff;
  --color-nav: #a7a9be;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  line-height: 1.5;
  background-color: var(--color-background);
  color: var(--color-text);
}

/* ***** header ***** */
.site-header {
  position: fixed;
  width: 100%;
  padding: 1rem var(--nav-spacing);
  background-color: var(--color-background);
  z-index: 1000;
}

.site-nav .nav-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.site-nav .nav-item {
  margin-left: var(--nav-spacing);
}

.site-nav .nav-link {
  color: var(--color-nav);
  text-decoration: none;
  font-size: var(--font-size-small);
  font-weight: 400;
  transition: color 0.3s ease;
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
  color: var(--color-accent);
}

/* ***** socials ***** */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 70px;
  z-index: 100;
  background: none;
}

.icon {
  color: var(--color-nav);
  font-size: 2rem;
  margin: 5px;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #fff;
}

.socials::after {
  content: "";
  display: block;
  height: 150px;
  width: 0.1px;
  background-color: var(--color-nav);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* ***** main content styling ***** */
#main-content {
  padding-top: calc(
    var(--header-height) + 2rem
  ); /* space for the fixed header */
  position: relative;
  padding: 0 150px;
  margin: 0 auto;
  max-width: 1600px;
}

/* ***** home section ***** */
.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.main-heading {
  font-size: var(--font-size-1--2);
  color: var(--color-accent);
  margin-bottom: 0.5rem;
}

.name-heading {
  font-size: var(--font-size-large);
  font-family: var(--title-font);
  color: var(--color-text);
  margin-bottom: 1rem;
  font-weight: 700;
}

.subheading {
  font-size: var(--font-size-medium);
  font-weight: 400;
  color: var(--color-text);
  margin-bottom: 2rem;
}

.intro-text {
  font-size: var(--font-size-1--2);
  color: var(--color-heading);
  max-width: 650px;
  margin-bottom: 4rem;
}

.intro-text .highlight {
  color: var(--color-accent);
}

.cta-btn {
  width: 10rem;
  display: inline-block;
  background-color: var(--color-btn);
  color: var(--color-btn-text);
  padding: 1rem 2rem;
  font-size: var(--font-size-normal);
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cta-btn:hover,
.cta-btn:focus {
  background-color: var(--color-accent);
  color: var(--color-background);
  transform: translateY(-3px);
}

/* ***** footer styling ***** */
.site-footer {
  text-align: center;
  padding: 4rem 0;
  font-size: var(--font-size-small);
  color: var(--color-heading);
}
