/* imported fonts */
@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ***** variables ***** */
:root {
  --header-height: 3rem;
  --nav-spacing: 1rem;
  overflow-anchor: none;

  /* font and font size */
  --main-font: "Nunito", Gadget, sans-serif;
  --title-font: "Arial Black", Gadget, sans-serif;
  --font-size-large: 5rem;
  --font-size-medium: 2rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.875rem;
  --font-size-1--2: 1.2rem;

  /* colors */
  --color-background: #0f0e17;
  --color-text: #a7a9be;
  --color-dim: #6b6d91;
  --color-accent: #00d4ff;
  --color-btn: #33304b;
  --color-btn-text: #00d4ff;
  --color-nav: #a7a9be;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  line-height: 1.5;
  background-color: var(--color-background);
  color: var(--color-text);
}

section {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1000px;
  display: block;
}

.headings {
  width: 100%;
  color: var(--color-text);
  font-family: var(--title-font);
  font-size: var(--font-size-medium);
  margin-bottom: 1rem;
  text-align: center;
}

.highlight {
  color: var(--color-accent);
}

/* ***** header ***** */
.site-header {
  position: fixed;
  font-family: Times, serif;
  width: 100%;
  padding: 1rem var(--nav-spacing);
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: var(--color-background);
  z-index: 1000;
  top: 0;
  right: 0;
  transition: top 0.6s;
  transition: 0.6s;
}

.site-nav .nav-list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.site-nav .nav-item {
  margin-left: var(--nav-spacing);
}

.site-nav .nav-link {
  color: var(--color-nav);
  text-decoration: none;
  font-size: var(--font-size-normal);
  font-weight: 400;
  transition: color 0.3s ease;
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
  color: var(--color-accent);
}

/* hide header on scroll */
.hide-header {
  top: -8rem;
  right: 0;
  transition: 0.6s;
}

.scroll-header {
  background-color: var(--color-background);
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.7);
}

/* ***** socials ***** */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 70px;
  z-index: 100;
  background: none;
}

.socials > a {
  text-decoration: none;
  border-bottom: 0.1px solid transparent;
  transition: border-bottom-color 0.3s ease, color 0.3s ease;
}

.icon {
  color: var(--color-nav);
  font-size: 2rem;
  margin: 5px;
  transition: color 0.3s ease;
}

.socials > a:hover,
.socials > a:focus {
  border-bottom-color: var(--color-accent);
}

.icon:hover {
  color: #fff;
}

.socials::after {
  content: "";
  display: block;
  height: 150px;
  width: 0.1px;
  background-color: var(--color-nav);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* ***** main content styling ***** */
#main-content {
  padding-top: calc(
    var(--header-height) + 2rem
  ); /* space for the fixed header */
  position: relative;
  padding: 0 150px;
  margin: 0 auto;
  max-width: 1600px;
}

/* ***** home section ***** */
.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

.main-heading {
  font-size: var(--font-size-1--2);
  color: var(--color-accent);
  margin-bottom: 0.5rem;
}

.name-heading {
  font-size: var(--font-size-large);
  font-family: var(--title-font);
  color: var(--color-text);
  margin-bottom: 1rem;
  font-weight: 700;
}

.subheading {
  font-size: var(--font-size-medium);
  font-weight: 400;
  color: var(--color-text);
  margin-bottom: 2rem;
}

.intro-text {
  font-size: var(--font-size-1--2);
  color: var(--color-dim);
  max-width: 650px;
  margin-bottom: 4rem;
}

.cta-btn {
  width: 10.5rem;
  display: inline-block;
  background-color: var(--color-btn);
  color: var(--color-btn-text);
  padding: 1rem 2rem;
  font-size: var(--font-size-normal);
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cta-btn:hover,
.cta-btn:focus {
  background-color: var(--color-accent);
  color: var(--color-background);
  transform: translateY(-3px);
}

/* ***** about section ***** */
.about-section .about-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding-top: 2rem;
  gap: 2rem;
}

.about-info .about-description {
  font-family: var(--main-font);
  line-height: 1.5;
  font-size: var(--font-size-normal);
  color: var(--color-text);
  margin-bottom: 1rem;
}

.highlight {
  color: var(--color-accent);
  font-weight: bold;
}

.about-info .about-info-tech {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 0.89rem;
  font-size: var(--font-size-small);
}

.about-info-tech ul {
  padding-left: 0;
  list-style: none;
}

.about-info-tech li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  color: var(--color-dim);
}

.ri-arrow-right-s-fill {
  font-weight: bold;
  color: var(--color-accent);
  margin-right: 0.5rem;
}

.about-img-wrapper {
  width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 2rem;
}

.about-img-overlay {
  width: 100%;
  display: block;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}

.about-img-wrapper::before {
  content: "";
  position: absolute;
  border: 2px solid var(--color-accent);
  border-radius: 5px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  top: 15px;
  left: 15px;
  z-index: -1;
  transition: border-color 0.3s;
}

.about-img-wrapper:hover::before {
  border-color: var(--color-dim);
}

/* ***** footer styling ***** */
.site-footer {
  text-align: center;
  padding: 4rem 0;
  font-size: var(--font-size-small);
  color: var(--color-dim);
}
